/* General App Styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.lead {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}

#root {
  display: flex;
  height: 100%;
}

body {
  height: 100vh;
  min-height: 100%;
}

.bigparent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow-x: hidden;
}

/* Errors Messages and User Messages */

.errors {
  color: red;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}

.exclamation {
  color: #7372ad;
  text-align: center;
  margin-top: 50px;
}

/* Navbar CSS */

.custom-navbar {
  background: #3176b1;
  border: none;
  height: 77px;
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 0;
}

.custom-navbar * {
  overflow-x: hidden;
}

.egalogo {
  height: 45.2px;
  cursor: pointer;
  margin: 0;
}

.beacon-title {
  text-align: center;
  flex: 1;
  margin-top: 1%;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  margin-right: 5%;
}

/* Search CSS */

.col-refgenome {
  width: 92px;
  flex: 0 0 24%;
  max-width: 100%;
}

.col-searchbutton {
  flex: 0 0 11%;
  max-width: 100%;
  margin-top: 2px;
}

.searchbutton {
  border: 1px solid #3176b1;
  width: Hug (122px) px;
  height: 40px;
  padding: 10px 20px 10px 20px;
  gap: 8px;
  border-radius: 10px 10px 10px 10px;
  opacity: 0px;
  background: #f4f9fe;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16.94px;
  text-align: left;
  color: #3176b1;
  position: relative;
  top: 30px;
  margin: 0;
}

.infovariant {
  cursor: pointer;
  display: inline-block;
  width: 14.67px;
  height: 14.67px;
  line-height: 14.67px;
  padding: 0px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #023452;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search-row {
  margin-top: 90px;
}

.variant-query {
  margin-right: 10px;
}

.tooltip-bullets {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
}

.col-variant {
  flex: 0 0 65%;
  max-width: 100%;
}

/* Network CSS */

.bnmembers-container {
  height: auto;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.bnmembers-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 248px;
  height: 71.97px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-image {
  max-height: 51.16px;
  max-width: 220.25px;
  object-fit: contain;
}

.egaembllogo {
  width: 248px;
  height: 71.97px;
}

.crglogo {
  width: 164.49px;
  height: 94.45px;
}

.lupared {
  width: 16px;
  height: 16px;
  padding: 2px 0px 0px 0px;
  background-image: url("../public/lupared.svg");
  background-size: cover;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

.searchbutton:disabled {
  color: #0234524d;
  background-color: transparent;
  border: 1px solid #0234524d;
}

.searchbutton:hover {
  background-color: #023452;
  color: white;
  border: 1px solid #023452;
}

.searchbutton:disabled:hover {
  color: #0234524d;
  background-color: transparent;
  border: 1px solid #0234524d;
}

.searchbutton:hover .lupared {
  background-image: url("../public/lupawhite.svg");
}

.searchbutton:disabled:hover .lupared {
  background-image: url("../public/lupapink.svg");
}

.searchbutton:disabled .lupared {
  background-image: url("../public/lupapink.svg");
}

.example-span {
  margin-top: 10px;
}

.example {
  color: blue;
}

/* Table CSS */

.queried-row {
  margin-bottom: 35px;
}

.table-container {
  overflow-x: scroll;
  height: auto;
}

.data-table {
  width: 100%;
  margin-bottom: 20px;
}

.population-column {
  width: 31%;
  padding-left: 5%;
}

.data-table tr:hover {
  background-color: inherit !important;
}

.allele-count-column,
.allele-number-column,
.homozygous-count-column,
.heterozygous-count-column,
.allele-frequency-column {
  width: 11%;
}

.homozygous-count-column,
.heterozygous-count-column {
  width: 16%;
}

.centered-header {
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  white-space: normal;
  /* font-size: xx-small; */
}

@media (max-width: 575px) {
  .table-container {
    width: 80%;
  }
}
.underlined {
  text-decoration: underline;
}

.ega-link {
  color: black;
}

.ega-link:hover {
  color: #3176b1;
}

.disclaimer {
  font-style: italic;
  font-size: 12px;
  text-align: right;
  margin-bottom: 4%;
}

.beaconized {
  border-width: 0.5px 0px 0px 0px;
  border-style: solid;
  border-top-color: #023452;
  border-bottom-color: #023452;
}

.dataset {
  background: #dbeefd;
  border-width: 0.5px 0px 0.5px 0px;
  border-style: solid;
  border-top-color: #023452;
  border-bottom-color: #023452;
}

.dataset-col {
  width: 20px !important;
  padding-right: 0;
}

.centered {
  text-align: center;
}

.beaconized.dataset-col {
  padding-left: 5%;
}

.type-wrap {
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12em;
  padding-left: 5%;
}

.sex-background {
  background-color: #f4f9fe;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  border-style: solid;
  border-color: #023452;
  border-radius: 10px;
  overflow: hidden;
}
th {
  background: #023452;
  color: white;
  padding: 0.5em 1em;
  text-align: left;
  height: 66px;
}
td {
  color: black;
  font-weight: 400;
  padding: 0.65em 1em;
}

.disabled td {
  color: #4f5f64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 55%;
  width: 48px;
  height: 48px;
  color: #7276b1;
  position: absolute;
  left: 50%;
  margin-top: 50px;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #70154c;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* Footer CSS */

.custom-footer {
  background: #e2e2e2;
  border: none;
  height: 49px !important;
}

.footer-text {
  font-size: 12px;
}

.container-footer {
  padding: 0 10px;
}

@import url("https://fonts.googleapis.com/css?family=Patua+One");

/* Media Queries: Responsiveness */

@media (max-width: 1399px) and (min-width: 768px) {
  .search-row {
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media (max-width: 1399px) and (min-width: 1181px) {
  .beacon-title {
    margin-top: 10px;
    text-align: center;
  }
}
@media (max-width: 1399px) and (min-width: 992px) {
  .searchbutton {
    width: 122px;
    height: 40px;
  }
}
@media (max-width: 767px) and (min-width: 567px) {
  .search-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    height: auto;
  }
}
@media (max-width: 1199px) and (min-width: 1181px) {
  .col-variant {
    width: 520px;
    flex: 1;
  }

  .col-refgenome {
    margin-left: 0%;
    margin-right: 6%;
  }

  .col-searchbutton {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .col-variant {
    flex: 1;
    max-width: 40%;
  }

  .col-refgenome {
    flex: 2;
  }

  .col-searchbutton {
    flex: 1;
    max-width: 30% !important;
    margin-left: 20px;
  }

  .beacon-title {
    margin-top: 10px;
    text-align: center;
    margin-left: -10%;
  }

  .egalogo {
    height: 40.2px;
  }
}
@media (max-width: 1180px) and (min-width: 992px) {
  .col-variant {
    width: 400px;
    flex: 1;
  }

  .col-refgenome {
    margin-left: 0%;
    margin-right: 8%;
  }

  .beacon-title {
    margin-top: 10px;
    text-align: center;
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .responsive-background-example {
    margin-top: 60px !important;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .col-variant,
  .col-refgenome,
  .col-searchbutton {
    width: 100%;
  }

  .col-searchbutton {
    margin-left: 0;
    margin-top: 0;
  }
  .searchbutton {
    width: 515px;
    text-align: center;
  }

  .button-text-icon {
    justify-content: center;
    align-items: center;
  }
  .example-span {
    margin-top: 60px !important;
  }
  .bnmembers-container {
    display: block;
  }
}
@media (max-width: 767px) and (min-width: 736px) {
  .bnmembers-grid {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) and (min-width: 413px) {
  .beacon-title {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
  }
}
@media (max-width: 767px) and (min-width: 100px) {
  .beacon-title {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
  }

  .form-section-label {
    white-space: nowrap;
  }

  .egaembllogo {
    width: 248px;
    height: 71.97px;
  }

  .crglogo {
    width: 164.49px;
    height: 94.45px;
  }
}
@media (max-width: 735px) and (min-width: 576px) {
  .egalogo {
    height: 35.2px;
  }
}
@media (max-width: 605px) and (min-width: 100px) {
  .footer {
    white-space: nowrap;
  }
}
@media (max-width: 575px) and (min-width: 500px) {
  .col-variant,
  .col-refgenome,
  .col-searchbutton {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  .searchbutton {
    width: 400px;
    text-align: center;
  }
}
@media (max-width: 575px) and (min-width: 300px) {
  .institution-title {
    margin-left: 9%;
  }
}
@media (max-width: 575px) and (min-width: 100px) {
  .search-row {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: auto;
    align-items: flex-start;
    width: 84%;
    margin-left: 8%;
  }
  .responsive-background-example {
    margin-left: 8%;
    width: 84%;
  }

  .button-text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bnmembers-grid {
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 499px) and (min-width: 100px) {
  .col-variant,
  .col-refgenome,
  .col-searchbutton {
    padding: 0 !important;
    margin: 0 !important;
  }
}
@media (max-width: 499px) and (min-width: 431px) {
  .searchbutton {
    width: 370px;
    text-align: center;
  }
  .beacon-title {
    font-size: 16px !important;
  }
}
@media (max-width: 438px) and (min-width: 431px) {
  .beacon-title {
    font-size: 16px !important;
  }
}
@media (max-width: 430px) and (min-width: 100px) {
  .searchbutton {
    width: 340px;
    text-align: center;
  }

  .beacon-title {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 10px;
  }
}
@media (max-width: 430px) and (min-width: 400px) {
  .searchbutton {
    width: 340px;
    text-align: center;
  }
}
@media (max-width: 407px) and (min-width: 100px) {
  .egalogo {
    display: none;
  }
}
@media (max-width: 399px) and (min-width: 321px) {
  .searchbutton {
    width: 300px;
    text-align: center;
  }
}
@media (max-width: 320px) and (min-width: 300px) {
  .search-row {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: auto;
    align-items: flex-start;
    width: 84%;
    margin-left: 5%;
  }

  .searchbutton {
    width: 270px;
    text-align: center;
  }

  .responsive-background-example {
    margin-left: 5%;
    width: 84%;
  }

  .beacon-title {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 7%;
    white-space: nowrap;
  }

  .institution-title {
    margin-left: 5%;
  }
}
@media (max-width: 299px) and (min-width: 100px) {
  .searchbutton {
    width: 250px;
    text-align: center;
  }
}
